@font-face
{
    font-family: 'Roboto';
    src: url('polices/roboto/Apache\ License.txt');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Shrikhand';
    src: url('polices/shrikhand/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body 
  {
    font-family: 'Roboto','Shrikhand', serif;
    max-width: 1200px;
    margin: 0 auto;
  }

@media screen and (max-width: 650px){

.header-img {
  width: 43%;
}

.header-city {
  display: flex;
  width: 86%;
  background-color: lightgrey;
}

.header-i {
  padding: 13px 15px;
}

}